/* body {
  font: 1.2em / 1.5 sans-serif;
} */
/* Add styles here */



/* 
    Task 1
    To complete the task:

    Make the <h1> headings blue.
    Give <h2> headings a blue background and white text.
    Cause text wrapped in a <span> to have a font-size of 200%.
*/


/* h1{
    color: blue;
}

h2{
    background-color: blue;
    color: white;
}

span{
    font-size: 200%;
}
 */




/* Task 2
To complete the task:

Give the element with an id of special a yellow background.
Give the element with a class of alert a 2px solid grey border.
If the element with a class of alert also has a class of stop, make the background red.
If the element with a class of alert also has a class of go, make the background green. */

/* #special{
    background-color: yellow;
}

.alert{
    border: 2px solid grey;
}

.stop{
    background-color: red;
} */


/* p{

    background-color: aqua;
} */

/* span{ */
    /* background-color: blue;
    color: red;
    display: inline-block; */
    /* margin: 20px; */
    /* margin-top: 20px; */
    /* padding-top: 100px; */
    /* border-left: 100px solid black; */

    /* border:10px solid black;
    margin-top: 20px;
    width: 200px;
    height: 300px;
    padding: 20px; */

/* } */

/* img{
    max-width: 500px;
    height: 256px;
    width: 1000px;
    height: 1000px;

} */


/* .box {
    width: 100px;
    height: 100px;
  background-image: url("https://www.unifyapps.com/favicon.ico");
  background-repeat: no-repeat;
  background-size: contain; */
  /* border: 2px solid black; */
  /* padding: 20px; */
/* } */

/* .test{
    overflow-y: auto;
    background-color: red;
    width: 500px;
    height: 500px;
    margin: 50px;
}


input[type="text"],
input[type="email"] {
  border: 2px solid black;
  margin-bottom: 1em;
  padding: 10px;
  width: 80%;
}

input[type="submit"] {
  border: 3px solid #333333;
  background-color: #999999;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: white;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #333333;
} */


*{
    padding: 0;
    margin: 0;
}




.container{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
    
}

.box{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
}

#box1{
    background-color: red;
    float: right;
}
